.info-text {
	text-align: center;
	margin: 5px !important;
}
.red {
	color: red;
}
.enyo-radiogroup {
	white-space: nowrap;
	cursor: pointer;
	margin: 0 0;
	vertical-align: middle;
}
.enyo-radiobutton, .enyo-tabbutton {
	text-align: center;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	font-size: 18px;
	border-width: 0px 17px;
	padding: 7px 0 8px 0;
}
.sync-progress {
	
}
/*
.enyo-progress-bar-inner {
	margin: 0 -5px;
	height: 12px;
	border-width: 0 5px;
	position: absolute;
	z-index:10; /* for progressSlider altBarPosition */
	-webkit-border-image: url(images/progress-bar-inner.png) 0 5 0 5 repeat repeat;
} 
*/
.enyo-progress-bar {
	/* background: -webkit-gradient(linear, left top, right top, from(#f00), to(#0f0)); */
}
/* Base styles */
.truncating-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Sync Log Toaster */
.sync-log {
	position: absolute;
	top: 10em;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	font-size: 0.8em;
	padding: 1em;
	text-align: center;
	-webkit-border-radius: 0.5em;
	width: 25em;
	
}

/* Tag input */
.tag-input {
	height: 20px;
	width: 30px;
	margin: 2px;
	background-image: url(images/icon-tags-menu.png);
}

/* Notes List */
.notelist-width {
	width: 300px;
}
.notelist-date {
	margin-right: .6em;
}
.notes-count {
	color: #eee;
	font-size: 15px;
	background-color: #999;
	-webkit-border-radius: 1em;
	padding: 1px 6px;
	margin: 0 15px;
	min-width: 2em;
	text-align: center;
	/* border: 1px solid #ddd; */
}

/* Note View */
.note-view {
	background-color: white;
	padding: 12px 10px;
	-webkit-nbsp-mode: space;
	-webkit-line-break: after-white-space;
	font-size: 0.9rem;
	width: 100%;
	
}
.note-vew-scroller {
	background-color: white;
}
.note-view h1 {
	font-size: 25px;
	font-weight: bold;
}
.note-view h2 {
	font-size: 20px;
	font-weight: bold;
}
.note-view h3 {
	font-size: 20px;
}
.note-view body {
	font-size: 17px;
}

/* Error */
.enyo-text-error {
	
	margin: 5px !important;
}
.warning-icon {
	background: url(images/warning.png) 0 0 no-repeat;
}

.enyo-text-error.warning-icon{
	padding-left: 2em;
}

/* Help */
.help-base {
	background-color: #ffffff;
	padding: 20px 50px 20px 50px;
}

.h1 {
	color: red;
}
